@model AppVendas.Models.Produto

@{
    ViewData["Title"] = "Editar Cadastro de produto";
}
<div class="d-flex justify-content-between my-5 align-items-center">
    <span class="display-6 w-75 justify-content-center">Cadastro de Produto</span>
</div>
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ProdutoId" />
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="form-group">
                <label asp-for="ProdutoNome" class="control-label"></label>
                <input asp-for="ProdutoNome" class="form-control" />
                <span asp-validation-for="ProdutoNome" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-5">
            <div class="form-group">
                <label asp-for="QtadeEstoque" class="control-label"></label>
                <input asp-for="QtadeEstoque" class="form-control" />
                <span asp-validation-for="QtadeEstoque" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 col-md-5">
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <label>Ativo?</label>
            <select class="form-select" id="CadastroAtivo" name="CadastroAtivo">
                <option selected>Selecione...</option>
                <option value="True">SIM</option>
                <option value="False">NÃO</option>
            </select>
        </div>

    </div>
    <div class="row">
        <div class="col-4 col-lg-2">
            <div class="form-group">
                <button type="submit" class="btn btn-primary d-flex px-5 align-items-center mt-3 w-100 justify-content-center py-2">
                    <ion-icon name="save-outline" class="me-2"></ion-icon>Salvar
                </button>
            </div>
        </div>
        <div class="col-4 col-lg-8">
        </div>
        <div class="col-4 col-lg-2">
            <a asp-action="Index" class="btn btn-outline-info align-item-center px-5 mt-3 ms-5 w-100 justify-content-center py-2"><ion-icon name="arrow-back-outline" class="me-2"></ion-icon>Voltar</a>
        </div>
    </div>

    <!--

    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CadastroAtivo" /> @Html.DisplayNameFor(model => model.CadastroAtivo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
    -->
</form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
